<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>대피소명: {{ data.name }}</h1>
    <h3>주소: {{ data.address }}</h3>
    <h3>면적: {{ data.area }}</h3>
    <h3>수용인원: {{ data.people }}명</h3>
    <h3>화장실개수: {{ data.toilet }}개</h3>
    <h3>반려동물가능여부: {{ data.pet }}</h3>
    <hr>
    <a href="update"><input type="button" value="수정하기"></a>
</body>
</html>