{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'index/css/nav.css' %}">
<link rel="stylesheet" href="{% static 'shelter/css/region.css' %}">
<link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'index/css/nav-small.css' %}">
{% endblock %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block main %}
<div class="main">
    <div class="main-container1">
        <div class="main-container1-shelter"><a href="{% url 'shelter_upload' %}"><h4>대피소 제공하기</h4></a></div>
		<div>
			<form method="POST" >
				{% csrf_token %}
				<input type="text" placeholder="  지역명을 입력하세요." value="{{ region }}" name="search"/>
				<input style="display:none" type="submit" value="검색" />
			</form>
		</div>
        <br>
        <div class="main-container1-options">
            <div><p>애완동물출입</p></div>
            <div id="petOff" class="options-option"><p>불가</p></div>
            <div id="petOn" class="options-option"><p>가능</p></div>
        </div>
        <br>
        <br>
        <div><p>{{count}}개의 검색결과</p></div>
	</div>
    <div class="main-container2">
        {% for d in data %}
        <div class="main-container2-items pet-{{d.pet}}">
            <div class="search-result-name"><a href="/shelter/detail/{{d.id}}"><h3>{{d.name}}</h3></a></div>
            <p>{{d.address}}</p>
            <div class="main-container2-items-tags">
                <div><p>최대수용인원:{{d.people}}</p></div>
                <div><p>애완동물가능여부:{{d.pet}}</p></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- <div class="main-container3">
        <h2>더보기</h2>
    </div> -->
</div>
<script>
    // 스크롤 혹은 더보기 
    // let items = document.getElementsByClassName("main-container2-items");
    // function post() {
    //     for (var i = 0; i < items.length; i++ ) {
    //         items[i].classList.add('post-hide')
    //     }
    // }
    // function scroll() {
    //     for (var i = 0; i < 10; i++ ) {
    //         items[i].classList.remove('post-hide');
    //     }
    // }
    // post();
    // scroll()
    
    // 각종 Option들 
    let petOn = document.getElementById("petOn");
    let petOff = document.getElementById("petOff");
    let petNone = document.getElementsByClassName("pet-False");
    petOff.classList.add('borderRed');
    petOn.onclick = petOnFunction;
    function petOnFunction() {
        for (var i = 0; i < petNone.length; i++ ) {
            petOn.classList.add('borderRed');
            petOff.classList.remove('borderRed');
            petNone[i].classList.remove('show');
            petNone[i].classList.add('hide');
        }
    } 
    petOff.onclick = petOffFunction;
    function petOffFunction() {
        for (var i = 0; i < petNone.length; i++ ) {
            petOff.classList.add('borderRed');
            petOn.classList.remove('borderRed');
            petNone[i].classList.remove('hide');
            petNone[i].classList.add('show');
        }
    } 
</script>













































{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}