<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ data.name }}대피소 수정하기</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        화장실개수: <input type="number" name="toilet"/><br />
        반려동물가능여부: <input type="checkbox" name="pet" />
        <input type="submit" value="완료"/>
    </form>
</body>
</html>