{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/nav.css' %}">
<link rel="stylesheet" href="{% static 'shelter/css/main.css' %}">
<link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'index/css/nav-small.css' %}">
{% endblock %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block nav %}
{% include 'index/nav.html' %}
{% endblock %}
{% block main %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>




















{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}