{% load static %}
<div class="main1">
    <div class="main1-container1">
        <div><a href="/{{ writingLast.id }}"><img src="{% get_static_prefix %}blog/image/src/image-{{writingLast.id}}.png"></a></div>
        <div class="main1-container1-contents">
            <div><a href="/{{ writingLast.id }}"><h1>{{ writingLast.title }}</h1></a></div>
            <div><a href="/{{ writingLast.id }}"><p>{{ writingLast.subtitle }}</p></a></div>
            <div><h6>{{ writingLast.created }}</h6></div>
            <div class="main1-container1-contents-similar">
                <div><h4>관련된 소식</h4></div>
                <div><h4>새로운</h4></div>
                <div><h4>새로운</h4></div>
                <div><h3>{{ A | first}}</h3></div>
            </div>
        </div>
    </div>
    <div class="main1-container2">
        {% for writing in writing4 %}
        <div class="main1-container2-items">
            <div><a href="/{{ writing.id }}"><img src="{% get_static_prefix %}blog/image/src/image-{{writing.id}}.png"></a></div>
            <div class="main1-container2-contents"> 
                <div><a href="/{{ writing.id }}"><h4>{{ writing.title }}</h4></a></div>
                <div><h6>{{ writing.created | date:"F d Y" }}</h6></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="main1-container2">
        {% for writing in writing8 %}
        <div class="main1-container2-items">
            <div><a href="/{{ writing.id }}"><img src="{% get_static_prefix %}blog/image/src/image-{{writing.id}}.png"></a></div>
            <div class="main1-container2-contents"> 
                <div><a href="/{{ writing.id }}"><h4>{{ writing.title }}</h4></a></div>
                <div><h6>{{ writing.created | date:"F d Y" }}</h6></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="main1-container2">
        {% for writing in writing12 %}
        <div class="main1-container2-items">
            <div class="main1-container2-contents"> 
                <div><a href="/{{ writing.id }}"><h4>{{ writing.title }}</h4></a></div>
                <div><h6>{{ writing.created | date:"F d Y" }}</h6></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="main2">
    <div class="main2-container">
    </div>
</div>