
.main {
    background-color: rgb(253,253,253);
}
.main-container {
    max-width:645px;
    margin:0 auto;
}
.main-container img {
    width:100%;
    margin-top:60px;
    max-height:500px;
    object-fit: contain;
}
.main2 {
    background-color: rgb(242,242,242);
}
.main2-container {
    height: 370px;
    margin-top: 60px;
}


/* 본문 디자인 Theme */
.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6,
.main small,
.main sub,
.main p {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-style:normal;
    color: rgb(64,63,66);
}
.main h1 {
    font-weight:600;
    font-size:46px;
    line-height:60px;
    margin-top: 60px;
    margin-bottom:40px;
}
.main h2 {
    font-size:30px;
    font-weight:600;
    line-height:100px;
}
.main h3 {
    font-size: 24px;
    font-weight:200;
    line-height:30px;
}
.main h4 {
    font-size: 22px;
    font-weight:200;
    line-height:28px;
}
.main h5 {
    font-size: 20px;
    font-weight:200;
    line-height:26px;
}
.main h6 {
    font-size:18px;
    font-weight:200;
    line-height:24px;
}
.main p {
    font-size:1rem;
    font-weight:100;
    line-height: 1.75rem;
}
/* DateTime */
.main small {
    font-size:14px;
    font-weight:100;
    color:gray;
}
/* Image 설명 */
.main sub {
    font-size:14px;
    font-weight:200;
}

