{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/nav.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
<link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'index/css/nav-small.css' %}">
<link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'blog/css/main-small.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block nav %}
{% include 'index/nav.html' %}
{% endblock %}

{% block main %}
{% include 'blog/main.html' %}
{% endblock %}

{% block footer %}
{% include 'footer.html' %}

{% endblock %}