/* header와 복붙하면 됨 */
.footer1 {
    width:100%;
    background-color: rgb(184, 23, 23);
}
.footer1-container1 {
    display:flex;
    align-items: center;
    max-width:1280px;
    color:white;
    height:60px;
    margin: 0 auto;
}
.footer1-container1-itembox{
    display:flex;
    flex-direction:row;
    margin: 0 16px;
}
.footer1-container1-itembox h2 {
    font-weight:400;
}
.footer2 {
    width:100%;
    background-color: rgb(34, 34, 34);
}
.footer2 p {
    font-size:14px;
    font-weight: 600;
}
.footer2-container1 {
    display:flex;
    align-items: center;
    max-width:1300px;
    color:white;
    height:60px;
    margin: 0 auto;
}
.footer2-container1-itembox {
    margin: 0 16px;
}
.footer2-container2 {
    display:flex;
    align-items: center;
    max-width:1300px;
    color:white;
    height:60px;
    margin: 0 auto;
    border-top: 1px solid rgb(64, 63, 66) 
}
.footer2-container2-itembox {
    display:flex;
    flex-wrap: wrap;
    margin: 0 16px;
}
.footer2-container2-itembox > div {
    width:240px;
}

.footer2-container3 {
    display:flex;
    align-items: center;
    max-width:1300px;
    color:white;
    height:60px;
    margin: 0 auto;
    border-top: 1px solid rgb(64, 63, 66) 
}
.footer2-container3-itembox {
    margin: 0 16px;
}