<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yunsangmin.com</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}"> 
    <link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'header-small.css' %}">
    <link rel="stylesheet" media="screen and (max-width:600px)" href="{% static 'footer-small.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
    {% endblock %}
</header>
<nav>
    {% block nav %}
    {% endblock %}
</nav>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>