<div class="footer1">
    <div class="footer1-container1">
        <div class="footer1-container1-itembox"><h2>YUNSANGMIN.COM</h2></div>
    </div>
</div>
<div class="footer2">
    <div class="footer2-container1">
        <div class="footer2-container1-itembox"><p>사이트 소개</p></div>
    </div>
    <div class="footer2-container2">
        <div class="footer2-container2-itembox">
            <div><p><a href="https://github.com/redtea89">깃허브</a></p></div>
            <div><p><a href="mailto:redtea89@outlook.com">이메일</a></p></div>
        </div>
    </div>
    <div class="footer2-container3">
        <div class="footer2-container3-itembox"><p>이 홈페이지의 미래는 어떻게 될까요...?</p></div>
    </div>
</div>