label, span{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 2px;
}
.main {
    background-color: rgb(253,253,253);
    margin:20px;
}
.main-container1 {
    max-width:1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top:40px;
}
.main-container1-shelter {
    text-align: end;
    color:black;
    border-right: 4px solid black;
    padding-right:4px;
}
.main-container1-options{
    display:flex;
}
.options-option {
    background-color: lightcyan;
    margin: 0 4px;
    padding: 0 5px;
}
input[type=text] {
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    font-size:18px;
    margin-top: 20px;
}
input[type=submit] {
    width:40px;
    height:24px;
    border: 1px solid white;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    font-size:16px;
}
.main-container2 {
    max-width:1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top:15px;
}
.main-container2-items {
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    padding: 25px 10px;
}
.main-container2-items-tags {
    display:flex;
}
.main-container2-items-tags > div {
    background-color: rgb(233, 233, 233);
    margin: 4px 5px
}
.search-result-name {
    color: rgb(17,31,166);
    font-size:18px;
    font-weight:100;
    margin-bottom:10px;
}
/* .main-container3 {
    max-width:1040px;
    margin: 0 auto;
    margin-top:40px;
    background-color: beige;
    text-align: center;
    height:30px;
} */

/* 자바스크립트용 */
.hide {
    display:none;
}
.post-hide {
    display:none;
}
.show {
    display:block;
}
.borderRed {
    border-bottom: 3px solid red;
}
